.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._形状 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.image {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
._流程形状 {
}
._图片_ {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._形状1 {
  font-family:'思源黑体 ', '思源黑体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._默认样式 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.icon {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.paragraph {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.shape {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_21 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.line1 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.text_field {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.text_area {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.table_cell {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._图片 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.label1 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.flow_shape {
}
.image1 {
  font-family:'Noto Sans CJK ', 'Noto Sans CJK', sans-serif;
  font-weight:400;
  font-style:normal;
}
.primary_button {
  color:#FFFFFF;
}
.shape1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_11 {
}
.primary_button1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.horizontal_line {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.icon1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.table_cell1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
textarea, select, input, button { outline: none; }
